asgiref==3.11.1
cross-web==0.6.0
django-extensions==4.1
django-cors-headers==4.9.0
Django==6.0.4
graphql-core==3.2.8
packaging==26.1
psycopg[binary]==3.2.9
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.5
strawberry-graphql==0.314.3
strawberry-graphql-django==0.67.1
typing_extensions==4.15.0
